In [1]:
import pandas as pd

C:\Users\amaru\anaconda3\envs\data\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
path="D:/0. Artculos y congresos/Butterfly article correction (Revision)/Online information 2C.xlsx"
data=pd.read_excel(path)

In [6]:
len(data["Date"].unique()) ### se seleccionaron 70 semanas de los datos y hay mucha variacion interanual y intermensual

70

In [8]:
# verificamos cada una de las fechas necesarias para el analisis
import sqlite3 as sq
import pandas as pd
from collections import Counter
import sql_m
from datetime import datetime
import source as so

In [9]:
path="D:/0. Artculos y congresos/ButterflyCorrection/1-Butterflies-article-main/LongTermMonitoringProject.db"
conexion=sq.connect(path)

In [10]:
# verificamos la tabla de esfuerzas para las siguientes fechas
effort=sql_m.ver_tabla('butterEffortDB', conexion)
effort['fecha_dt'] = pd.to_datetime(effort['date'], format='%Y-%m-%d')

In [14]:
fechas=data["Date"].unique()

In [17]:
values=effort[effort["date"].isin(data["Date"].unique())]["trapping"]

In [19]:
# Verificamos la tabla de cada una de las especies
especies=sql_m.ver_tabla('butterTrapping', conexion)
especies_filtradas = especies[especies["db_id"].isin(values)] # seleccionamos solo las de las fechas
# que se requieren analyzar a mejor detalle
especies_filtradas["reference"].unique()

array(['DB5-L', 'SB1-M', 'PB4-H', 'DB5-M', 'PB4-M', 'SB1-L', 'PB4-L',
       'DB1-L', 'SB2-L', 'DB1-M', 'PB3-M', 'PB3-L', 'SB2-M', 'DB1-H',
       'PB3-H', 'SB2-H', 'PB1-H', 'DB2-H', 'PB1-L', 'SB3-H', 'PB2-M',
       'SB4-M', 'PB2-H', 'SB4-L', 'DB3-L', 'PB2-L', 'DB3-H', 'DB3-M',
       'SB4-H', 'SB6-L', 'SB6-M', 'PB5-M', 'PB5-L', 'DB6-M', 'PB5-H',
       'SB6-H', 'DB6-L', 'PB6-H', 'PB6-L', 'SB5-L', 'SB5-M', 'PB6-M',
       'DB4-L', 'SB5-H', 'DB4-M', 'WETLAND', 'DB2-L', 'SB3-L', 'PB1-M',
       'SB3-M', 'DB6-H', 'STREAMB', 'SB1-H', 'DB5-H', 'SBS2', 'DB1',
       'PB2', 'DB3', 'SB5', 'DB4', 'PB6', 'SB3', 'DB2', 'PB3', 'PB5',
       'SB6', 'DB6', 'SBS6', 'SB4', 'SB2', 'PB1', 'SB1', 'PB4', 'DB5'],
      dtype=object)

In [20]:
especies_filtradas = especies_filtradas[especies_filtradas["reference"].isin(['DB5-L', 'SB1-M', 'PB4-H', 'DB5-M', 'PB4-M', 
                                                                              'SB1-L', 'PB4-L','DB1-L', 'SB2-L', 'DB1-M', 
                                                                              'PB3-M', 'PB3-L', 'SB2-M', 'DB1-H','PB3-H', 
                                                                              'SB2-H', 'PB1-H', 'DB2-H', 'PB1-L', 'SB3-H', 
                                                                              'PB2-M','SB4-M', 'PB2-H', 'SB4-L', 'DB3-L', 
                                                                              'PB2-L', 'DB3-H', 'DB3-M','SB4-H', 'SB6-L', 
                                                                              'SB6-M', 'PB5-M', 'PB5-L', 'DB6-M', 'PB5-H',
                                                                              'SB6-H', 'DB6-L', 'PB6-H', 'PB6-L', 'SB5-L', 
                                                                              'SB5-M', 'PB6-M','DB4-L', 'SB5-H', 'DB4-M', 
                                                                              'DB2-L', 'SB3-L', 'PB1-M','SB3-M', 'DB6-H', 
                                                                               'SB1-H', 'DB5-H'])]

In [26]:
especies_filtradas=especies_filtradas[~(especies_filtradas["butnumber"]=='nofound')]
especies_filtradas["butnumber"]=pd.to_numeric(especies_filtradas["butnumber"], errors="coerce")

C:\Users\amaru\AppData\Local\Temp\ipykernel_17364\3179924184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  especies_filtradas["butnumber"]=pd.to_numeric(especies_filtradas["butnumber"], errors="coerce")

In [27]:
# completamos con los nombres de la especie en lugar de un codigo
sp_names=sql_m.ver_tabla('DBbutnumber', conexion)
name=dict(zip(sp_names["butnumber"], sp_names["species"]))
so.completar(especies_filtradas, name, code="butnumber",newname="sp_name")

D:\0. Artculos y congresos\Butterfly article correction (Revision)\source.py:163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfB[newname] = a

In [29]:
especies_filtradas["sp_name"].unique()

array(['Magneuptychia modesta', 'Memphis xenocles', '',
       'Heliconius hecale sysiphus', 'Heliconius numata bicoloratus',
       'Memphis glauce', 'Harjesia obscura', 'Memphis pseudiphis',
       'Memphis acidalia', 'Panacea regina', 'Diaethria clymena',
       'Morpho theseus', 'Morpho achilles', 'Hamadryas chloe',
       'Zaretis itys', 'Batesia hypochlora', 'Prepona laertes',
       'Taygetis virgilia', 'Nessaea obrinus', 'Harjesia blanda',
       'Catonephele acontius M&F', 'Memphis pithyusa', 'Memphis sp11',
       'Lycorea halia', 'Catonephele numilia M&F', 'Posttaygetis penelea',
       'Archaeoprepona demophon', 'Pareuptychia summandosa',
       'Morpho menelaus', 'Adelpha jordani', 'Morpho helenor',
       'Taygetis sylvia', 'Opsiphanes sp1', 'Adelpha boeotia',
       'Adelpha mesentina', 'Dynamine chryseis', 'Memphis philomena',
       'Memphis acaudata', 'Catoblepia xanthicles', 'Adelpha iphiclus',
       'Heliconius (Laparus) doris', 'Memphis anna', 'Baeotus beotus',
       'Prepona dexamenus', 'Baeotus aeilus', 'Temenis laothoe',
       'Temenis pulchra', 'Narope syllabus syllabus', 'Adelpha pleasure',
       'Opsiphanes cassina', 'Consul fabius', 'Heliconius burneyi',
       'Osiphanes invirae', 'Agrias claudina', 'Callicore cynosura',
       'Memphis polycarmes', 'Caeruleuptychia lobelia',
       'Heliconius xanthocles', 'Pareuptychia ocirrhoe interjecta',
       'Prepona sp1', 'Adelpha thesprotia', 'Eunica marsolia (phasis)',
       'Tigridia acesta', 'Memphis offa', 'Heliconius elevatus',
       'Heliconius numata subsp', 'Adelpha cocala cocala', 'Narope sp1',
       'Doxocopa agathina', 'Parypthimoides undulate', 'Eunica sp1',
       'Caligo superbus', 'Memphis praxias', 'Rhetus periander',
       'Memphis phantes', 'Lycaenidae sp2', 'Archaeoprepona licomedes',
       'Heliconius erato emma', 'Dynamine gisella', 'Pierella lena',
       'Colubra dirce', 'Prepona amydon', 'Heliconius pardalinus maeon',
       'Tithorea harmonia', 'Heliconius leucadia',
       'Adelpha attica attica', 'Eunica bechina cechina ',
       'Pseudodebis marpessa', 'Emesis sp1', 'Ectima lirides',
       'Adelpha melona', 'Heliconius sara', 'Dynamine athemon',
       'Emesis fatinella', 'Oleria sp1', 'Memphis sp1',
       'Pyrrhogyra amphiro amphiro ', 'Adelpha capucinus capucinus',
       'Callicore lyca aegina', 'Tithorea harmonia brunnea',
       'Heliconius numata timaeus?', 'Adelpha cytherea', 'Cissia proba',
       'Heliconius melpomeme aglaope', 'Fountainea ryphea',
       'Epiphile lampethusa', 'Memphis sp4', 'Erichthodes antonina',
       'Adelpha lycorias lara', 'Eunica sp5', 'Eunica alpais',
       'Hyposcada anchiala subsp', 'Fountainea halice', 'Cithaerias sp1',
       'Opoptera aorsa', 'Taygetis sp1', 'Taygetis thamyra',
       'Cithaerias pireta', 'Prepona pseudoamphale',
       'Polygrapha xenocrates', 'Hamaydras laodamia', 'Panacea prola',
       'Catoblepia berecynthia berecynthia', 'Chloreuptychia herseis',
       'Morpho sp', 'Baeotus japetus', 'Heliconius sp11', 'Sarota sp2',
       'Adelpha erotia erotia', 'Pierella hyceta', 'Memphis sp6',
       'Memphis basilia drucei', 'Hypna clytemnestra',
       'Baeotus deucalion', 'Magneuptychia iris', 'Cissia terrestris',
       'Chloreuptychia arnaca', 'Archaeoprepona amphimachus ',
       'Euptychoides saturnus', 'Battus lycidas', 'Ypthimoides renata',
       'Eurybia unxia', 'Adelpha serpa', 'Eunica sydonia',
       'Amarynthis meneria', 'nofound'], dtype=object)

In [30]:
especies_filtradas=especies_filtradas[~(especies_filtradas["butnumber"]=='nofound')]

In [35]:
# completamos las fechas utilizadas de cada uno de los datos
name=dict(zip(effort ["trapping"], effort["date"]))
so.completar(especies_filtradas, name, code="db_id",newname="start_week")

In [37]:
final=especies_filtradas[["reference","height","sp_name","start_week"]]

In [39]:
final=final[~(final["sp_name"]=='')]

In [41]:
final.to_csv("especies_seleccionadas.csv")

In [42]:
final

      reference height                        sp_name  start_week
45649     DB5-L      L          Magneuptychia modesta  2019-01-09
45650     SB1-M      M               Memphis xenocles  2019-01-09
45653     PB4-M      M     Heliconius hecale sysiphus  2019-01-09
45654     PB4-M      M  Heliconius numata bicoloratus  2019-01-09
45655     PB4-H      H                 Memphis glauce  2019-01-09
...         ...    ...                            ...         ...
52678     PB4-L      L       Narope syllabus syllabus  2023-07-26
52679     PB4-L      L       Narope syllabus syllabus  2023-07-26
52801     DB1-H      H                 Eunica sydonia  2023-08-11
52802     DB1-H      H                Prepona laertes  2023-08-11
52803     DB1-H      H                Prepona laertes  2023-08-11

[880 rows x 4 columns]

In [45]:
len(final["sp_name"].unique()) # 145 especies

145